

            
{% extends "base_admin.html.twig" %}

{% block content %}
    
           
            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">

                        
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                    <h4 class="mb-sm-0 font-size-18">Demande Acces </h4>

                                </div>
                            </div>
                        </div>
                        

                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    
                                    <div class="card-body">
        
                                        <table id="datatable" class="table table-bordered dt-responsive  nowrap w-100">
                                            <thead>
                                            <tr>
                                                
                                                <th>adresse-email</th>
                                                
                                                <th>permis de travail</th>
                                               <th>action</th>

                                            </tr>
                                            </thead>
        
        
                                            <tbody>
                                            {% for d in demandes %}
                                            <tr>
                                                <td>{{d.email}}</td>
                                                <td>{{d.permistravail}}</td>
                                                <td>
                                                <button  class="btn btn-outline-success waves-effect waves-light acceptebtn" id="{{d.id}}">accepter</button>
                                                <button  class="btn btn-outline-danger waves-effect waves-light refusebtn" id="{{d.id}}">refuser</button>

                                                </td>                                                                                               
                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
        
                                    </div>
                                </div>
                            </div> 
                        </div> 
        
                    </div> 
                </div>
                
              
                
            </div>



 <div class="modal" tabindex="-1" role="dialog" id="acceptemodal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Accepter</h5>
        
      </div>
      <div class="modal-body">
        <p>êtes vous sur d'accepter utilisateur ?</p>
      </div>
      <form method="POST" action="{{path('accepter')}}" name="form" id="form" class="form">
      <input type="hidden" name="accepte_id" id="user_id"/>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Oui</button>
      </div>
      </form>
    </div>
  </div>
</div>


<div class="modal" tabindex="-1" role="dialog" id="refusemodal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Refuser</h5>
        
      </div>
      <div class="modal-body">
        <p>êtes vous sur de refuser utilisateur ?</p>
      </div>
      <form method="POST" action="{{path('refuser')}}" name="form" id="form" class="form">
      <input type="hidden" name="refuse_id" id="userid"/>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Oui</button>
      </div>
      </form>
    </div>
  </div>
</div>
            
{% endblock %}         
       

{% block javascript %}
    <!-- Required datatable js -->
        <script src="{{asset('assets/libs/datatables.net/js/jquery.dataTables.min.js')}}"></script>
        <script src="{{asset('assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js')}}"></script>
        <!-- Buttons examples -->
        <script src="{{asset('assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js')}}"></script>
        <script src="{{asset('assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js')}}"></script>
        <script src="{{asset('assets/libs/jszip/jszip.min.js')}}"></script>
        <script src="{{asset('assets/libs/pdfmake/build/pdfmake.min.js')}}"></script>
        <script src="{{asset('assets/libs/pdfmake/build/vfs_fonts.js')}}"></script>
        <script src="{{asset('assets/libs/datatables.net-buttons/js/buttons.html5.min.js')}}"></script>
        <script src="{{asset('assets/libs/datatables.net-buttons/js/buttons.print.min.js')}}"></script>
        <script src="{{asset('assets/libs/datatables.net-buttons/js/buttons.colVis.min.js')}}">
        <!-- Responsive examples -->
        <script src="{{asset('assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js')}}"></script>
        <script src="{{asset('assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js')}}"></script>
        <!-- Datatable init js -->
        <script src="{{asset('assets/js/pages/datatables.init.js')}}"></script> 
       <script>
        $(document).ready(function(){  
      $('.acceptebtn').on('click' ,function(e){ 
        var blq_id = $(this).attr("id");
        document.getElementById("user_id").value = blq_id;
        $('#acceptemodal').modal("show");
    })
});

      $(document).ready(function(){  
      $('.refusebtn').on('click' ,function(e){ 
        var dblq_id = $(this).attr("id");
        document.getElementById("userid").value = dblq_id;
        $('#refusemodal').modal("show");
    })
});
        </script>

{% endblock %}